.nav {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav a {
  color:#2196F3;
  font-size: 16px;
  /* font-weight: bold; */
  margin-left: 16px;
  margin-top: 32px;
  text-decoration: underline;
  width: 100%;
}

.nav a:last-of-type {
  margin-bottom: 16px;
}
